[submodule "models/LAVIS"]
	path = models/LAVIS
	url = https://github.com/salesforce/LAVIS.git
[submodule "models/LLaVA"]
	path = models/LLaVA
	url = https://github.com/haotian-liu/LLaVA.git
[submodule "omnigibson_scripts/omnigibson_primitive_actions"]
	path = omnigibson_scripts/omnigibson_primitive_actions
	url = https://github.com/YzyLmc/omnigibson_primitive_actions.git
